a:hover {
    color: red;
    font-size: 20px;
    text-decoration: none;
}
a{
  text-decoration: none;
  color: silver;
 }
 #titulo h1 {
   color:  #C70039;
   font-size: 30px;
 }
 h4{
   padding-left: 11px;
   padding-right: 11px;
   font-weight: normal;

 }
div.container{
  width: 500px;
  margin: 0 auto; /* you can change 0 if your want top-bottom margin */


}
div.container>div{
  background-color: white;
  border: 1px solid gray;
  margin-bottom: 10px;
}
body{
  background: lightgray;
}
.card h2{
  font-weight: lighter;
}
.card{
  text-align: center;
  padding-top: 10px;
}
.hobbies h2{
  text-align: center;
  font-weight: lighter;
}
.hobbies img{
  width: 65%;
  height: 65%;
  margin-left: 8%;
  margin-right: 0%;
}
