a:hover {
    color: red;
    font-size: 20px;
    text-decoration: none;
}
a{
  text-decoration: none;
  color: silver;
 }
 #titulo h1 {
   color:  #C70039;
   font-size: 30px;
 }
 h4{
   padding-left: 11px;
   padding-right: 11px;
   font-weight: normal;

 }
div.container{
  width: 500px;
  margin: 0 auto; /* you can change 0 if your want top-bottom margin */


}
div.container>div{
  background-color: white;
  border: 1px solid gray;
  margin-bottom: 10px;
}
body{
  background: lightgray;
}
.card h2{
  font-weight: lighter;
}

.card img{
  border-radius: 70%;
}
.hobbies h2{
  text-align: center;
  font-weight: lighter;
}
.text-center >h2{
  font-weight: lighter;
}
.hobbies{
  padding-bottom: 10%;
}
.hobbies h3,p{
  margin-left: 10%;
}
.hobbies img{
  width: 150px;
  height: 150px;
  margin-left: 15%;
  margin-right: 0%;
}
.list-inline > li{
  display: inline-block;
  width: 25%;
  padding-left: 20px;
}
.list-inline1 > li{
  display: inline-block;
  width: 20%;
  padding-left: 0px;
}

.text-center{
  text-align: center;

}
